header.intro {
	height          : 510px;
	background      : url( '/content/images/matsBG.jpg' ) no-repeat;
	background-size : 100%;
	box-shadow      : inset 0px -20px 80px #000;
}

section#gallery {
	overflow : auto;
	padding-top : 70px;
	margin : 40px;
}
	section#gallery .gallery-section {
		overflow : auto;
		padding-top : 20px;
	}
		section#gallery .gallery-section>div.col-lg-12 .container-tr .col-md-2 {
			margin-bottom : 10px;
		}
			section#gallery .gallery-section>div.col-lg-12 .container-tr .col-md-2 img {
				width      : 100%;
				min-height : 150px;
				max-height : 150px;
			}

#about {
	padding : 140px;
}
#contact {
	padding : 140px;
	margin-bottom: 35px;
}
#find {
	padding : 140px;
}

#schedule {
	padding : 100px;
}

// Gallery Controls

.blueimp-gallery-display > h3 {
	display : block !important;
}

.blueimp-gallery-display > a {
	color : red;
	display : block !important;
}

// Map styling
#map {
	margin-top: 100px !important;
}

.google-map-container {
	position       : relative;
    // padding-bottom : 75%; // This is the aspect ratio
    overflow       : hidden;
}

.google-map-container iframe.frame-map {
	position : absolute;
    top      : 0;
    left     : 0;
    width    : 100% !important;
    height   : 100% !important;
}

#page-top > nav > div > div.navbar-header > a > img {
	height : 30px;
	display : inline;
	width  : 32px;
}